.portfolio__link {
  line-height: 50px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.04em;;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 530px) {
  .portfolio__link {
    font-size: 18px;
  }
}