.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 13px 0px 0px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

@media screen and (max-width: 768px) {
  .card__title {
    padding: 11px 0px 0px 14px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    font-size: 12px;
    line-height: 15px;
  }
}