.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 13px 0px 0px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}
