.search__input {
  background-image: url('../../../images/icon/lupa.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  color: #A0A0A0;
  border: none;
  background-color: #F9F9F9;
  padding: 0px 0px 0px 38px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  width: 75%;
}