.promo__column-links {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 28px;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .promo__column-links {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .promo__column-links {
    padding-bottom: 17px;
  }
}