.form-auth__text {
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
  padding-right: 6px;
}

@media screen and (max-width: 430px) {
  .form-auth__text {
    font-size: 12px;
    line-height: 15px;
  }
}
