.popup__input-error_type_active {
 color: #FF3055;
 font-size: 10px;
 line-height: 12px;
 padding-top: 12px;
}

@media screen and (max-width: 430px) {
  .popup__input-error_type_active {
    padding-top: 10px;
  }
}