.landing__big-title {
  font-size: 50px;
  text-align: center;
  line-height: 58px;
  font-weight: 400;
  margin: 0 auto;
  width: 60%;
  padding-top: 162px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 870px) {
  .landing__big-title {
    font-size: 40px;
    line-height: 52px;
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .landing__big-title {
    padding-top: 351px;
  }
}

@media screen and (max-width: 550px) {
  .landing__big-title {
    font-size: 29px;
    line-height: 37px;
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .landing__big-title {
    padding-top: 220px;
    width: 95%;
  }
}