.form-auth__link {
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
}

.form-auth__link:hover {
    opacity: 0.7;
  }

@media screen and (max-width: 430px) {
  .form-auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}