.search__form {
  display: flex;
  background-color: #F9F9F9;
  border-radius: 9px;
  padding: 16px 25px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .search__form {
    padding: 16px 15px 16px 25px;
  }
}

@media screen and (max-width: 630px) {
  .search__form {
    padding: 18px 0px;
    position: relative;
  }
}