.about-me__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 25px;
  width: 68%;
}

@media screen and (max-width: 820px) {
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 530px) {
  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}