.form-auth__text-container {
  display: flex;
  padding-top: 16px;
  width: 396px;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  .form-auth__text-container {
    padding-top: 13px;
    width: 260px;
  }
}