.promo__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .promo__link {
    font-size: 10px;
  }
}