.popup__form_profile {
  padding-top: 109px;
}

@media screen and (max-width: 768px) {
  .popup__form_profile {
    padding-top: 81px;
  }
}

@media screen and (max-width: 540px) {
  .popup__form_profile {
    padding-top: 65px;
  }
}