.header__menu-link {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__menu-link {
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;

    width: 520px;
    height: 100%;

    padding: 160px 2px 0 0;
    z-index: 10;

    background-color: white;
  }
}

@media screen and (max-width: 520px) {
  .header__menu-link {
    width: 320px;
    padding: 145px 2px 0 0;

  }
}