.portfolio__list-item {
  padding-bottom: 18px;
  margin-bottom: 21px;
  padding-right: 5px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__list-item:last-child {
  border-bottom: none;
}

@media screen and (max-width: 530px) {
  .portfolio__list-item {
    padding-bottom: 7px;
    margin-bottom: 10px;
  }
}