.header {
  min-height: 74px;
  padding: 18px 70px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 76px;
    padding-left: 30px;
    padding-right: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 70px;
    padding-left: 14px;
    padding-right: 12px
  }
}