.promo__bakground {
  background-color: #F5F5F5;
  border-radius: 10px;
  min-height: 493px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .promo__bakground {
    min-height: 834px;
  }
}

@media screen and (max-width: 320px) {
  .promo__bakground {
    min-height: 586px;
  }
}